# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="generate-your-own-secret" # Generate with: npx auth secret

# Next Auth Discord Provider (optional)
AUTH_DISCORD_ID="dev-placeholder"
AUTH_DISCORD_SECRET="dev-placeholder"

# Drizzle PostgreSQL Connection
# You can use ./start-database.sh to spin up a local PostgreSQL instance using Docker
DATABASE_URL="postgresql://postgres:password@localhost:5432/solana-cpop"

# Solana Network Config
# Devnet for development, mainnet-beta for production
SOLANA_NETWORK="devnet"

# State Compression Configuration
# These are the parameters for the Merkle tree used for ZK compression
MERKLE_TREE_HEIGHT=20
MAX_BUFFER_SIZE=256
